/*--- CORPS ET FOND DE PAGE ---*/
html body{
margin:0em;
padding:0em;
height: 100%;
width: 100%;
}
body{
font-family:arial;
}
#fond{ /*Image de fond */
	top:0;
    min-width : 100%;
	min-height:100%;
	position:fixed;
	z-index: -1; /* --- passe tout derrière ---*/
}
.contenu_page{
z-index: 0;	
margin-left:1.5%;
margin-right:1.5%;
max-width:100em;
}
/*--- BANDEAU ---*/
.bandeau{
/* position:fixed; */
top:0;
width:100%;
max-height:7em;

background-color:black;
font-family:Arial;

opacity:0.9;
z-index: 3;
}
.bandeau a{
color:white;
text-decoration:none;
}
.bandeau ul a:hover{
color:black;
background-color:gray;
}
.bandeau li{
display:inline;
padding-right:10%;
}
#logo{ /*LOUPE */
height:3em;
}
#msg_accueil{
margin:2%;
z-index:1;
color:white;
font-size:1.5em;
font-style:italic;
}
/*--- Menu Ancres des produits ---*/
.menu{
border: 0.4em double black;
border-radius:0.3em;
background-color:white;

margin-left:1em;
width:20em;
position:center;
z-index:1;
}
.menu li{
color:black;
font-family:Courier New, monospace;
list-style:none;
}
.menu li:hover{
list-style-image:url("images/puce.jpg")
}
.menu a{
color:black;
}	
.menu a:visited{
color:black;
}

/*--- TITRES PAGE PRODUITS ---*/
.cat_prod{
margin-left:2em;
margin-bottom:0;
text-align:center;

text-shadow: 0 0 3px #000000;
color:white;
background-image:url("images/titre_cat.png");
max-width:7em;
}
/* --- TABLEAU DE PRODUITS --- */
table{
display:inline-block;

/*border: 0.1em solid grey;*/
border-radius: 0.25em;
background-color: #e6c46b;
font-family:Calibri;

padding : 0.6em 0.3em;
margin-left:1em;
margin-bottom:1em;
border-spacing:0.1em;
}
	/* mise en place des cases */
table tr td{
padding : 0.5em;
border: 0.2em solid #680606;
background-color: #f9f8c8;
}
table tr td input{
max-width:5em;
}
table tr td{
}
table tr td:first-child:hover{
border-color:red;
background-color:#EBEBBC;
}
table tr td:last-child{
margin-left:0.2em;
width:3em;
}
	/* deco cases */
.titre_tab{
color:red;
}
.nom{
width:6em;
}
.description{
width:11em;
font-size:0.8em;
}
.prix{
font-weight:bold;
width:6em;
padding:0 0;
text-align:center;
}
.raye{
font-weight:normal;
text-decoration:line-through;
color:gray;
}
	/* Affiche 2 tableaux à côté */
.gauche{
display:inline-block;
}
.droite{
display:inline-block;
vertical-align:top;
}
/*--- Promotions ---*/
#pub_gauche{
display:inline-block;
width:65%;
}
.promo{
display:inline-block;
float:left;
max-width:96%;
margin-left:1em;
margin-bottom:1em;

background-color:#e6c46b;
border: 0.15em solid #680606;
border-radius:0.3em;
padding:0.5em;
}
.cadre_beige{
display:inline-block;
width:98%;
margin:0.5% 1%;

border-radius:0.3em;
border: 0.2em solid #680606;
background-color: #f9f8c8;
text-align:center;
}
.titre_promo{
font-weight:bold;
}
/*--- Jeu concours ---*/
#titre_jeu{
color:white;
font-size:1.5em;
font-weight:bold;	
margin-left:30%;	
}
.jeu{
margin-top:0.5em;
max-width:100%;
border-radius:0.3em;
border: 0.2em solid #680606;
background-color: #f9f8c8;
text-align:center;
}
.jeu img{
max-width:18em;
}
#concours {
display:inline-block;
float:right;
width:30%;
margin:0 1em 1em 1em;

background-color:#e6c46b;
border: 0.15em solid #680606;
border-radius:0.3em;
padding:0.5em;
}
/*--- Contacts ---*/
.bleu_souligne{
color:blue;
font-weight:bold;
text-decoration:underline;
}
#form_contact input{

}
/*--- Commande ---*/
table tr th{
padding : 0.5em;
border: 0.2em solid #680606;
background-color: #f9f8c8;
}
table tr th#total
{
text-align:right;
margin-bottom:1em;
}
